$color-mirage: #1a2233; // top nav, sidebar items
$color-midnight-lab: #1f293f; // sidebar
$color-cloud-burst: #232e46; // sidebar subheading
$color-oxford-blue: #394359; // sidebar item border
$color-gallery: #f0f0f0;
$color-alto: #d8d8d8;
$color-silver: #c5c5c5;
$color-mine-shaft: #333333; // card headers
$color-greener-side: #6CBD7D;
$color-de-york: #72C984;
$color-bahama-blue: #006699;
$color-fountain-blue: #6699cc;
$color-cardinal: #B11319;
$color-skeptic: #cfe9d4;


// From new designs
$color-bright-gray: #313646; //top nav
$color-mantis: #6fc650; // btn-success;
$color-bombay: #aeb0b7; // dark gray for buttons
$color-athens-gray: #eef1f4; // background color
$color-mystic: #e5eaee; //card border color
$color-link-water: #f5f8fc; // pitch edit

// designs v3
$color-amaranth: #e4385c; // btn-success;
$color-tuna: #33343c; //top nav
$color-picton-blue: #39a0ed; //Insights new color
$color-camelot: #8f2d56; //Problems new color
$color-pelorous: #4ac1c4; //Solutions new color
$color-blue-bayoux: #4c6085; //Business models new color
$color-black: #000000; //button border
$color-white: #fffffff; //button bg
$color-alto: #d7d7d7; //Account Pop-up
$color-gray60:#999999; //number of minutes in iMethod
$color-dove-gray: #666666; //Profile role and location
$color-profile-gray: #dee4e9; //Profile big image circle
$color-SignUp-btn-gray: #cccccc; //SignUp button 
$color-SignUp-toptext-gray: #404148; //Card title text
$color-SignUp-toptext-unfocus-gray: #b7b7b7; //Card title text
$color-mystic-2: #e4e9ed; //Sidebar Level-1 BG