.save-and-continue {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px 0; }
  .save-and-continue div:nth-child(1) {
    margin-bottom: 20px; }
  .save-and-continue div:nth-child(2) {
    border: 2px solid black;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .save-and-continue div:nth-child(2) > span {
      font-size: 17px; }
