<div ng-class="{'imethod-side-menu':true, 'sticky': willItStick}" sticky-element ng-controller="SidebarController" ng-init="toggleSidebar = false">
  <ul ng-show="toggleSidebar" class="sidebar-show">
    <li href="#idea-overview-card" offset="200" du-smooth-scroll du-scrollspy class="level-1">
      <div>Idea Overview</div>
    </li>
    <li class="level-2 completed">
      <div>
        <span ng-hide="" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Step 1: Name Your Idea</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Step 2: Add Idea Labels</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Step 3: Build Your Team</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>

    <li href="#insight-card" offset="{{(willItStick? 100 : 190)}}" du-smooth-scroll du-scrollspy class="level-1">
      <div>Insight</div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Question 1</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Question 2</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>

    <li href="#problem-card" offset="{{(willItStick? 100 : 190)}}" du-smooth-scroll du-scrollspy class="level-1">
      <div>Problem</div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Question 1</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Question 2</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>

    <li href="#solution-card" offset="{{(willItStick? 100 : 190)}}" du-smooth-scroll du-scrollspy class="level-1">
      <div>Solution</div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Question 1</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Question 2</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>

    <li href="#business-model-card" offset="{{(willItStick? 100 : 190)}}" du-smooth-scroll du-scrollspy class="level-1">
      <div class="active-bar"></div>
      <div>Business Model</div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Question 1</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>
    <li class="level-2">
      <div>
        <span ng-hide="true" class="fa fa-check"></span>
      </div>
      <div>
        <strong>Question 2</strong><br />
        brief description of the lecture can
        go here onto two lines.
      </div>
    </li>
  </ul>
</div>