<nav class="navbar navbar-default page-meta ideas-page-meta" ng-controller='ImethodMetaController'>
    <div class="container-fluid">

        <div class="collapse navbar-collapse">
            <div class="navbar-left">
                <ol class="breadcrumb">
                    <li><a href="#">My Ideas</a></li>
                </ol>
            </div>
            <div class="navbar-right">
                <h4>You have {{ideaInProgressCount}} in progress. Keep it up!</h4>
            </div>
        </div>
    </div>
</nav>