<div ng-controller="AuthController">
    <div class="login-card">
        <div>
            <div class="card-header">You have successfully logged out</div>
            <div class="card-title">Want to know more about iMethod?</div>
        </div>

        <div>
            <button type="button" ui-sref="" class="logout-btn-iMethod" ng-click="">Learn more about iMethod</button>
        </div>
        <div>
            <button type="button" ui-sref="login" class="logout-btn-signUp">Log back In</button>
         </div>
           
    </div>

</div>
