<nav class="navbar navbar-default page-meta ideas-page-meta" ng-controller='ProfileController' ng-class="{'sticky': willItStick}" sticky-element>
  <div class="container-fluid">

    <div class="collapse navbar-collapse">
      <div class="navbar-left">
        <ol class="breadcrumb">
          <li><a href="#">My Profile</a></li>
        </ol>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">           
          <li>
              <button ng-click="saveUserMeta()" type="button" class="btn">Save</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>