<div ng-controller="AuthController">
    <div class="login-card">
        <div class="text-center">
            <button ui-sref="login" class="top-text-unfocus">Sign In</button> | <button ui-sref="registration" class="top-text-unfocus">Sign Up</button> | <button ng-click="message = ''" ui-sref="recover-password" class="top-text-focus">Recover Password</button>
        </div>
        <div ng-hide="message">
            <div>
                <div class="card-header">Enter Your Email Address</div>
                <div class="card-title">We'll send you a link to reset your password.</div>
            </div>
            <div>
                <ul>
                    <li class="list_item"> <input type="text" ng-model="reset.email" placeholder="Email" autofocus></li>
                </ul>
            </div>
            <div>
                <button ng-click="submitResetPassword(this)" type="button" class="btn-signup">Submit</button>
            </div>
            <span>{{err_message}}</span>
        </div>
        <div ng-show="message">
            <div>
                <div class="card-header">{{ message }}</div>
                <div class="card-title">Simply check your email and click on the link.</div>
            </div>
            <div>
                <button type="button" class="btn-signup" ui-sref="login">Sign In</button>
            </div>
        </div>
    </div>
</div>