<div ng-controller="AuthController">
    <div class="login-card">
        <div>
            <div class="reset-header">Reset your Password Below</div>
            <div>
                <ul>
                    <li class="list_item"><input type="password" ng-model="reset.encrypted_password" placeholder="New Password" autofocus></li>
                    <li class="list_item"><input type="password" ng-model="reset.confirm_password" placeholder="Confirm Password"></li>
                </ul>
            </div>
        </div>
        <div>
            <button ng-click="submitChangePassword(this)" type="button" class="btn-signup">Submit</button>
        </div> 
        <span>{{message}}</span>
    </div>
</div>